body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-image: linear-gradient(to right, #d500f9, #ffd54f);
    background-repeat: no-repeat;
    /* height: 100vh; */
}

/* loader  */
.loader-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.834);
    z-index: 1;
}

.spinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #3d5af1 transparent #3d5af1 transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

input,
textarea {
    background-color: #f3e5f5;
    border-radius: 50px !important;
    padding: 12px 15px 12px 15px !important;
    width: 100%;
    box-sizing: border-box;
    border: none !important;
    border: 1px solid #f3e5f5 !important;
    font-size: 16px !important;
    color: #000 !important;
    font-weight: 400;
}

.error {
    position: absolute;
    margin-left: 15px;
    font-size: 12px;
    color: red;
    left: 0;
    bottom: -18px;
}

input:focus,
textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #d500f9 !important;
    outline-width: 0;
    font-weight: 400;
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.card {
    background-color: #f7f7f7;
    border: none;
}

.card0 {
    border-radius: 25px;
}

.card1 {
    width: 50%;
    padding: 40px 30px 10px 30px;
}

.card2 {
    width: 50%;
    background-image: linear-gradient(to right, #ffd54f, #d500f9);
}

.logo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

::placeholder {
    color: #6c757d !important;
    opacity: 1;
}

:-ms-input-placeholder {
    color: #6c757d !important;
}

::-ms-input-placeholder {
    color: #6c757d !important;
}

.form-control {
    height: auto;
}

.form-group {
    margin-bottom: 1.5rem;
    position: relative;
}

.form-control-label {
    font-size: 14px;
    margin-left: 15px;
}

.msg-info {
    padding-left: 15px;
    margin-bottom: 30px;
}

.btn-color {
    border-radius: 50px;
    color: #fff;
    background-image: linear-gradient(to right, #ffd54f, #d500f9);
    padding: 15px;
    cursor: pointer;
    border: none !important;
    margin-top: 25px;
    transition: 0.3s all;
}

.btn-color:hover {
    color: #fff;
    background-image: linear-gradient(to right, #d500f9, #ffd54f);
}

.btn-white {
    border-radius: 50px;
    color: #d500f9;
    background-color: #fff;
    padding: 8px 40px;
    cursor: pointer;
    border: 2px solid #d500f9 !important;
}

.btn-white:hover {
    color: #fff;
    background-image: linear-gradient(to right, #ffd54f, #d500f9);
}

a {
    color: #000;
}

a:hover {
    color: #000;
}

.bottom {
    width: 100%;
    margin-top: 50px;
}

.sm-text {
    font-size: 15px;
}

@media screen and (max-width: 992px) {
    .card1 {
        width: 100%;
        padding: 40px 30px 10px 30px;
    }

    .card2 {
        width: 100%;
    }

    .right {
        margin-top: 100px !important;
        margin-bottom: 100px !important;
    }
}

@media screen and (max-width: 768px) {
    .card2 {
        display: none;
    }
}

.table-wrapper {
    overflow-y: auto;
}

.table-wrapper td:not(:first-child),
.table-wrapper th:not(:first-child) {
    min-width: 180px;
}
